.container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.content{
    margin-bottom: 10vw;
    width: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    height: 100%;
}

.bgImage{
    background-image: url('../../assets/images/login-background.jpg');
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.app_logos{
    margin-bottom: 2vw;
    max-width: 650px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    transition-timing-function: ease-out;
    transition: opacity 0.2s;
    width: 100%;
}

.logo_one{
    margin-bottom: 12px;
    width: 100%;
    min-height: 1px;
    max-width: 600px;
    display: block;
}

.signin_link{
    color: white;
    font-weight: bold;
    background-color: #0063e5;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
    letter-spacing: 1.5px;
    padding: 16.5px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.signin_link:hover{
    background-color: #0483ee;
}

.description{
    color: hsla(0, 0%, 95.3%, 1);
    font-size: 11px;
    margin: 0 0 24px;
    line-height: 1.5;
    letter-spacing: 1.5px;

}

.logo_two{
    max-width: 600px;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    min-height: 1px;
}